{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %} Listagem de paciente {% endblock %}

{% block head %}
<link rel="stylesheet" href={% static "vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css" %}>
<link rel="stylesheet" href={% static "vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" %}>
{% endblock%}

{% block body %}

<!-- Right Panel -->

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Atendimentos do dia</strong>
                        <form action="" method="get" class="float-right">
                            <div class="col-10" >
                                <input name="search_box" type="text" class="form-control" placeholder="Procurar na página">
                            </div>
                            <div class="col-1">
                                <button type="submit" class="btn btn-primary" style="border-radius: 3px;">
                                    <span class="icon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th width="5%">#Código</th>
                                    <th>Paciente</th>
                                    <th width="10%">Prioritário</th>
                                    <th width="10%">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list%}
                                {% if object.opened %}
                                <tr>
                                    <td class="text-center">{{ object.id}}</td>
                                    <td>{{ object.patient}}</td>
                                    <td class="text-center"> 
                                        {% if object.priority %}
                                            <a class="btn btn-danger btn-sm" style="border-radius: 3px;">SIM</a> 
                                        {% else %}
                                            <a class="btn btn-success btn-sm" style="border-radius: 3px;">NÃO</a> 
                                        {% endif %}
                                    </td>

                                    <td class="text-center">

                                        <a href="{% url 'medical_query:detail_query' object.id %}">
                                            <button type="button" class="btn btn-primary btn-sm"
                                                style="border-radius: 3px;">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>

                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->



<!-- Right Panel -->
{% include 'core/pagination.html' %}

{% endblock%}

{% comment %} {% block js %}
{% endblock %}


{% block scripts %}

{{ block.super }}
{{ form.media }}

{% endblock%} {% endcomment %}