{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %} Listagem de paciente {% endblock %}

{% block head %}
<link rel="stylesheet" href={% static "vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css" %}>
<link rel="stylesheet" href={% static "vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" %}>
{% endblock%}

{% block body %}

<!-- Right Panel -->

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Histórico de Consultas Realizadas</strong>
                            <form action="" method="get" class="float-right">
                                <div class="col-10" >
                                    <input name="search_box" type="text" class="form-control" placeholder="Procurar na página">
                                </div>
                                <div class="col-1">
                                    <button type="submit" class="btn btn-primary" style="border-radius: 3px;">
                                        <span class="icon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        
                        <div  class="col-md-6 row">
                            <label class="bg-primary" style="width: 15px; height: 15px; margin-left: 10px; margin-top: 4px;;"></label><label> Visualizar</label>
                            <label class="bg-success" style="width: 15px; height: 15px; margin-left: 10px; margin-top: 4px;;"></label><label> Receita</label>
                            <label class="bg-warning" style="width: 15px; height: 15px; margin-left: 10px; margin-top: 4px;;"></label><label> Requisição de Exames</label>
                        </div>

                        <div class="card-body">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>#Código</th>
                                        <th>Paciente</th>
                                        <th>Data da Consulta</th>
                                        <th >Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object in object_list%}
                                        {% if not object.opened %}
                                            <tr >
                                                <td>{{ object.id}}</td>
                                                <td>{{ object.Patient_idPatient}}</td>
                                                <td> {{ object.created_on }} </td>
                                    
                                                <td class="text-center">
                                                    <a title="visualizar" href="{% url 'medical_query:detail_query' object.id %}">
                                                        <button 
                                                            type="button" 
                                                            class="btn btn-primary btn-sm"
                                                            style="border-radius: 3px;">
                                                            <i class="fa fa-eye"></i>
                                                        </button> 
                                                    </a>
                                                
                                                    <a title="Gerar Receita" href="{% url 'medical_query:recipe' object.id %}">
                                                        <button type="button" class="btn btn-success btn-sm" style="border-radius: 3px;">
                                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                                        </button>
                                                    </a>


                                                    <a title="Gerar Requisição de Exames" href="{% url 'medical_query:exam_request_pdf' object.id %}">
                                                        <button type="button" class="btn btn-warning btn-sm" style="border-radius: 3px;">
                                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                                        </button>
                                                    </a>




                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->



<!-- Right Panel -->
{% include 'core/pagination.html' %}

{% endblock%}

{% comment %} {% block js %}
{% endblock %}


{% block scripts %}

{{ block.super }}
{{ form.media }}

{% endblock%} {% endcomment %}