
{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %} Listagem de Requisição de Exame {% endblock %}

{% block head %}
    <link rel="stylesheet" href={% static "vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css" %}>
    <link rel="stylesheet" href={% static "vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" %}>
{% endblock%}

{% block body %}
<div class="content mt-3">

    <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
    
                    <i id="icon_remove" class="fa fa-exclamation-triangle" style="font-size: 30px; color:#dc3545"></i>
    
                    <h5 class="modal-title" id="staticModalLabel">
                        <p id="content_remove">
                            Têm certeza de que deseja remover esta requisição?
                        </p>
                    </h5>
    
                    <button type="button" onclick="reset_html()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="msg_remove">
                        Ao clicar em confirmar a requisição <strong id="user_remove_alert"></strong> será removido
                        permanentemente. Essa ação não poderá ser desfeita!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_cancel" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    
    
                    <button id="btn_confirm" type="button" class="btn btn-primary" onclick="remove_user()">
                        Confirmar
                    </button>
    
                </div>
            </div>
        </div>
    </div>
    
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Requisição De Exame </strong>
                        <form action="" method="get" class="float-right">
                            <div class="col-10" >
                                <input name="search_box" type="text" class="form-control" placeholder="Procurar na página">
                            </div>
                            <div class="col-1">
                                <button type="submit" class="btn btn-primary" style="border-radius: 3px;">
                                    <span class="icon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'medical_query:add_exam_request' %}"> <button type="button" class="btn btn-success btn-sm" style="border-radius: 3px;"><i class="fa fa-plus-square-o" > Cadastrar</i></button></a>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export listItems" class="table table-striped table-bordered" >
                            <thead>
                                <tr>
                                    <th width="60%%">Requisição</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list%}
                                <tr id="line-{{object.id}}">
                                    <td> {{ object.desc_exam}} </td>
                                    

                                    <td class="text-center">
                                        <div>
                                            <a href="{% url 'medical_query:detail_exam_request' object.id %}">
                                                <button type="button" class="btn btn-primary btn-sm"
                                                    style="border-radius: 3px;">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </a>

                                            <a href="{% url 'medical_query:update_exam_request' object.id %}">
                                                <button type="button" class="btn btn-warning btn-sm"
                                                    style="border-radius: 3px;">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </a>

                                            {% if request.user.is_superuser %}
                                                <a >
                                                    <button type="button" class="btn btn-danger btn-sm" 
                                                        id = "{{ object.id }}" 
                                                        name = "{{object.desc_exam}}"
                                                        data-toggle="modal" 
                                                        data-target="#staticModal"
                                                        onclick="get_datas(this.name,this.id)"
                                                        style="border-radius: 3px;">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
{% include 'core/pagination.html' %}

{% endblock%}

{% block js %}
    <script>

        id_user = 0
        user_name = " "

        function get_datas(user, id) {
            document.getElementById('user_remove_alert').innerHTML = user
            id_user = id
            user_name = user
        }
        function remove_user() {

            urlDel = "http://localhost:8000/medical_query/delete-requisicao-exame/" + id_user

            let xhr = new XMLHttpRequest()

            xhr.open('GET', urlDel)

            xhr.onreadystatechange = function () {
                let response = JSON.parse(xhr.responseText);
                status = response['code']
                if (status == 1) {
                    document.getElementById('line-' + id_user).className = 'd-none'
                    document.getElementById('msg_remove').innerHTML = "A exlusão da requisição foi realizada com sucesso."
                    document.getElementById('icon_remove').className = "fa fa-check-circle-o"
                    document.getElementById('icon_remove').style = "color: green; font-size:30px;"
                    document.getElementById('content_remove').innerHTML = "Requisição removido com sucesso!"
                    document.getElementById('btn_cancel').className = "d-none"
                    document.getElementById('btn_confirm').className = "d-none"

                } else {

                    document.getElementById('msg_remove').innerHTML = "Não foi possivel excluir esta requisição, por favor consulte um dos administradores do sistema ou um técnico."
                    document.getElementById('content_remove').innerHTML = "Erro! Houve um erro ao excluir o paciente selecionado!"
                    document.getElementById('btn_cancel').className = "d-none"
                    document.getElementById('btn_confirm').className = "d-none"

                }
            }

            xhr.send()
        }

        function reset_html() {

            document.getElementById('msg_remove').innerHTML = "Ao clicar em confirmar a requisição <strong id='user_remove_alert'>" + user_name + "</strong> será removido permanentemente. Essa ação não poderá ser desfeita!"
            document.getElementById('icon_remove').className = "fa fa-exclamation-triangle"
            document.getElementById('icon_remove').style = "font-size: 30px; color:#dc3545;"
            document.getElementById('content_remove').innerHTML = "Têm certeza de que deseja remover esta requisição?"
            document.getElementById('btn_cancel').className = "btn btn-secondary"
            document.getElementById('btn_confirm').innerHTML = "Confirmar"
            document.getElementById('btn_confirm').className = "btn btn-primary"

        }

    </script>
    <script src={% static "vendors/datatables.net/js/jquery.dataTables.min.js" %}></script>
    <script src={% static "vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js" %}></script>
    <script src={% static "vendors/datatables.net-buttons/js/dataTables.buttons.min.js" %}></script>
    <script src={% static "vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" %}></script>
    <script src={% static "vendors/jszip/dist/jszip.min.js" %}></script>
    <script src={% static "vendors/pdfmake/build/pdfmake.min.js" %}></script>
    <script src={% static "vendors/pdfmake/build/vfs_fonts.js" %}></script>
    <script src={% static "vendors/datatables.net-buttons/js/buttons.html5.min.js" %}></script>
    <script src={% static "vendors/datatables.net-buttons/js/buttons.print.min.js" %}></script>
    <script src={% static "vendors/datatables.net-buttons/js/buttons.colVis.min.js" %}></script>
    {% comment %} <script src={% static "assets/js/init-scripts/data-table/datatables-init.js" %}></script> {% endcomment %}
{% endblock%}
