{% load staticfiles %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}UBS-Admin{% endblock %}</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    

    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">


    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    {% block head %}
    {% endblock %}

</head>

<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="{% static 'images/logo2.png' %}" alt="Logo"></a>
            </div>

            {% if request.user.is_superuser %}
                {% include "core/menu_admin.html" %}
            {% elif request.user.is_medical %}
                {% include "core/menu_medical.html" %}
            {% else %}
                {% include "core/menu_tecnical.html" %}
            {% endif %}

        </nav>
    </aside><!-- /#left-panel -->
 
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <h4>Únidade Básica de Saúde - <strong>UFPI</strong> </h4>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{% static 'images/admin.png' %}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="{% if  request.user.is_superuser %} {% url 'accounts:update_admin' request.user.id %} {% elif  request.user.is_medical %} {% url 'accounts:update_doctor' request.user.id %} {% else %} {% url 'accounts:update_clerk' request.user.id %}{% endif %} "><i class="fa fa-user"></i> Meu Perfil</a>

                            <a class="nav-link" href="{% url 'accounts:logout'%}"><i class="fa fa-power-off"></i> Sair</a>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->
        {% block body %}
        {% endblock %}

    </div><!-- /#right-panel -->

    <!-- Right Panel -->

  

    <script src="{% static 'vendors/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js'%}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/main.js'%}"></script>

    <script src="{% static 'js/sweetalert.min.js' %}"></script>

    <script src="{% static 'vendors/chart.js/dist/Chart.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/dashboard.js'%}"></script>
    <script src="{% static 'assets/js/widgets.js'%}"></script>
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js'%}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js'%}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js'%}"></script>



    
    <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>
    {% block js %}
    {% endblock %}

</body>

</html>