<div class="col-sm-12">
    <div class="alert  alert-success alert-dismissible fade show" role="alert">
        <span class="badge badge-pill badge-success">Bem Vindo(a)</span> {{request.user}} seu login foi efetuado com
        sucesso, a partir de agora você pode utilizar todos os recursos do nível <strong>TÉCNICO</strong>.
    </div>
</div>

<div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-flat-color-1">
        <div class="card-body pb-0">
            <div class="dropdown float-right">
                <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
                    id="dropdownMenuButton1" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div class="dropdown-menu-content">
                        <a class="dropdown-item" href="{% url 'patient:my_patients' %}">Meus Pacientes</a>
                    </div>
                </div>
            </div>

            <h4 class="mb-0">
                <span class="count">{{patients_count}}</span>
            </h4>
            <p class="text-light">Pacientes</p>

            <div class="chart-wrapper px-0" style="height:70px; text-align: right;" height="70">
                <i class="menu-icon fa fa-address-card" style="font-size: 43px;"></i>
            </div>

        </div>

    </div>
</div>


<div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-flat-color-2">
        <div class="card-body pb-0">

            <div class="dropdown float-right">
                <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton2"
                    data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <div class="dropdown-menu-content">
                        <a class="dropdown-item" href="{% url 'medical_query:list_query_history' %}">Minhas Consultas</a>
                    </div>
                </div>
            </div>

            <h4 class="mb-0">
                <span class="count">{{querys_count}}</span>
            </h4>
            <p class="text-light">Consultas</p>

            <div class="chart-wrapper px-0" style="height:70px; text-align: right;" height="70">
                <i class="menu-icon fa fa-stethoscope" style="font-size: 43px;"></i>
            </div>

        </div>
    </div>
</div>


<div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-flat-color-3">
        <div class="card-body pb-0">

            <h4 class="mb-0">
                <span class="count">{{doctors_count}}</span>
            </h4>
            <p class="text-light">Medicos(as)</p>

            <div class="chart-wrapper px-0" style="height:70px; text-align: right;" height="70">
                <i class="menu-icon fa fa-user-md" style="font-size: 43px;"></i>
            </div>

        </div>
    </div>
</div>


<div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-flat-color-4">
        <div class="card-body pb-0">

            <h4 class="mb-0">
                <span class="count">{{clerks_count}}</span>
            </h4>
            <p class="text-light">Técnicos(as)</p>

            <div class="chart-wrapper px-0" style="height:70px; text-align: right;" height="70">
                <i class="menu-icon fa fa-user-o" style="font-size: 43px;"></i>
            </div>

        </div>
    </div>
</div>